.infoPanel{
    width: 100%;
    background-color: rgb(255, 247, 174);
    display: flex;
    margin-top: 3%;
    align-items: center;
}
.infoPanel a{
    font-family:system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    text-decoration: none;
}
.panel {
    margin: 1% 5% 1% 5%;
    width: 20%;
    padding: 1% 0% 1% 0%;
    text-align: center;
    background-color: lemonchiffon;
    border-radius: 1rem;
    border-color: lemonchiffon;
    border-style: none;
    cursor: pointer;
}
.panel:hover{
    box-shadow: -1px 1px 3px 3px rgb(219, 219, 219);
    background-color: rgb(255, 244, 150); 
}
.panel:active{
    box-shadow: -1px 1px 10px 3px rgb(219, 219, 219);
    background-color: rgb(255, 248, 188);
}
a {
    text-decoration:none;
    color: black;
}
